/* In Nav.css */
.menulist {
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;  /* Ensures it's treated as a block-level element */
}

.menulist:hover {
  color: cyan !important;
  transform: scale(1.2);
}
